.container {
    background: url('./img/kika-pardo-GyclzZ3lBPk-unsplash.jpg');
    /* background-position: center; */
    background-size: contain;
    background-repeat: repeat-x;
    width: 650px;
    margin: 0;
    padding: 2rem 2.5rem;
    border-radius: 3px;
    box-shadow: 0 0 8px black;
}

#drum-machine {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.drum-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    border-radius: 3px;
    user-select: none;   
    width: 60%;
}

.drum-pad {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45rem;
    font-weight: 700;
    border-radius: 5px;
}

#control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    width: 40%;
    padding: 0.5rem 1rem;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    border-radius: 3px;
}

#display {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0.75rem;
    border-radius: 3px;
    width: 90%;
}

.speaker-icon {
    color: white;
}

.power-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    border-radius: 3px;
    font-size: 1.15rem;
}

.display-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
    border-radius: 3px;
}
