.container {
    background: url('./img/kika-pardo-GyclzZ3lBPk-unsplash.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;

    margin: 0;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 8px black;
}

#drum-machine {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.drum-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    border-radius: 3px;
    user-select: none;
    width: 380px;
}

.drum-pad {
    text-align: center;
    height: 80px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45rem;
    font-weight: 700;
    border-radius: 3px;
}


#control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;

    background: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 3px;
    padding: 0 1rem;
}


#display {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 0.75rem;
    border-radius: 3px;
}

.speaker-icon {
    color: white;
}

.power-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    border-radius: 3px;
    font-size: 1.15rem;
}

.display-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
    border-radius: 3px;
}
